{
	"servers":
	[
		{
			"Minecraft": 
			[
				{
					"Server": "Vanilla",
					"IP": "",
					"Port": ""
				},
				{
					"Server": "RLCraft",
					"IP": "",
					"Port": ""
				}
			]
		},
		{
			"Server": "CSGO",
			"IP": "",
			"Port": ""
		},
		{
			"Server": "L4D2",
			"IP": "",
			"Port": ""
		}
	]	
}
